<!DOCTYPE html>
<html lang="en">

{{> head}}

<body class="sb-nav-fixed">
    {{> managerHeader}}
    <div class="modal-dialog modal-lg" role="document" style="margin-top: 5%; margin-left: 20%">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Event: {{aEvent.name}}</h2>
            </div>
            <div class="modal-body">
                <div class="py-1">
                    <form class="form" method="POST" action="/manager/doEditEvent">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <input type="hidden" name="id" value="{{aEvent._id}}">
                                            <label>Event Name</label>
                                            <input class="form-control" type="text" name="name" placeholder="Event Name" value="{{aEvent.name}}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-3">
                                        <div class="form-group">
                                            <label>Description</label>
                                            <textarea class="form-control" rows="5" name="description" placeholder="Description"/>{{aEvent.description}}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-end">
                                <button class="btn btn-primary" type="submit">Save</button>
                                <a href="/manager/managerViewEvent" class="btn btn-warning">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>