<html lang="en">

{{> head}}

<body class="sb-nav-fixed">
    {{> managerHeader}}
        <form method="post" action="/manager/numberOfIdeasByYear" style="margin: 5% 25%;">
        <div class="form-group"></div>
        <div class="row">

            <div class='col-md-2'>
                From: <input type="number" name="from" min="2020" value="2020" class="form-control" />
            </div>

            <div class='col-md-2'>
                To: <input type="number" name="to" min="2024" value="2024" class="form-control" />
            </div>

            <div class='col-md-2' >
                <input type="submit" value="Find" class="btn btn-outline-info" style="margin-top: 10%; width: 15x; height: 40px;" >
        </div>

        </div>
        
        
            
        </form>
    </div>
    </div>
    <div id="container" style="width: 70%; height: 80%; margin: -2% 15%; padding: 0;"></div>

</body>

<script type="text/javascript">
    anychart.onDocumentReady(function () {
        // set the data
        let data = [];
        data = {{{ listYear }}}
    console.log(data)
    // create the chart
    var chart = anychart.pie();
    // set the chart title
    chart.title("Dashboard number of ideas per dep/year");
    // add the data
    chart.data(data);
    // set legend position
    chart.legend().position("right");
    // set items layout
    chart.legend().itemsLayout("vertical");
    // display the chart in the container
    chart.container('container');
    chart.draw();
    });
</script>

</html>