<html lang="en">

{{> head}}

<body class="sb-nav-fixed">
    {{> managerHeader}}
    <form method="post" action="/manager/numberOfIdeasByYear2" style="margin: 4% 15%;">
        <div class="form-group"></div>
        <div class="row">
            <div class='col-md-2'>
                Year: <input type="number" name="year" min="2020" value="2024" class="form-control" />
            </div>
            <div class='col-md-2'>
                <input type="submit" value="Find" class="btn btn-outline-info"
                    style="margin-top: 7%; width: 70px; height: 35px;">
            </div>
        </div>
    </form>
    <div id="container" style="width: 70%; height: 80%; margin: -2% 15%; padding: 0;"></div>

</body>

<script type="text/javascript">
    anychart.onDocumentReady(function () {
        // set the data
        let data = [];
        data = {{{ data }}}
    console.log(data)
    // create the chart
    var chart = anychart.pie();
    // set the chart title
    chart.title("Dashboard number of ideas by event per dep/year");
    // add the data
    chart.data(data);
    // set legend position
    chart.legend().position("right");
    // set items layout
    chart.legend().itemsLayout("vertical");
    // display the chart in the container
    chart.container('container');
    chart.draw();
    });
</script>

</html>