<!DOCTYPE html>
<html lang="en">

{{> head}}

<body class="sb-nav-fixed">
    {{> studentHeader}}
    <div class="modal-dialog modal-lg" role="document" style="margin-top: 3%; margin-left: 15%">
        <div class="modal-content py-5" style="padding-left: 12%;">
            <div class="modal-header">
                <h2 class="modal-title">Add file </h2>
            </div>
            <div class="row">
                <div class="col-md-8 border-right">
                    <form class="form" method="post" action='/student/doAddFile' id="add" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <input type="hidden" name="path" value="{{path}}" />
                                    <input type="hidden" name="idEvent" value="{{idEvent}}">
                                </div>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <div class="col form-group">
                                <label>Image</label>
                                <input type="file" name="picture" id="ideas" required multiple />
                            </div>
                        </div>
                        <div class="col mb-3">
                            <div class="col form-group">
                                <label for="agree">
                                    <input type="checkbox" value="0" name="agree" id="agree" required
                                        oninvalid="this.setCustomValidity('You must agree to our terms and conditions.')"
                                        oninput="this.setCustomValidity('')">
                                    <b> I Agree to the <a href="#" onclick="display()">Terms and Conditions</a></b>
                                </label>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <div class="col form-group" id="demo" style="display:none;">
                                <h2>Terms of Use</h2>
                                These Terms and Conditions constitute an agreement (“Agreement”) between you (“you”,
                                “your”, “user”, “Customer”) and the Company.Avocado gumbo artichoke ricebean groundnut
                                tigernut. Daikon kakadu plum water spinach garbanzo eggplant fava bean chard rock melon
                                carrot rutabaga water chestnut broccoli courgette onion.

                                <h2>Eligibility and Identity.</h2>
                                To be eligible to use our Services, you must be at least 13 years old. Sorrel jícama
                                tomato silver beet wattle seed black-eyed pea garlic fennel tigernut okra beetroot
                                shallot. Soko shallot melon dandelion bamboo shoot chickpea soybean pumpkin kakadu plum
                                parsley ricebean grape courgette courgette jícama tatsoi. Black-eyed pea gourd tomatillo
                                arugula cucumber celery mustard black-eyed pea cauliflower soybean rutabaga turnip
                                groundnut.

                                <h2>Termination</h2>
                                You may terminate this Agreement at any time by ceasing all use of the Services and by
                                notifying us. The Company may terminate this Agreement, at any time, without notice to
                                you, if it believes, in its sole judgment, that you have breached or may breach any term
                                or condition of this Agreement. Fennel garlic melon broccoli kohlrabi dulse black-eyed
                                pea chicory watercress shallot bamboo shoot cucumber rutabaga ricebean gourd chickweed
                                gumbo. Burdock fennel sorrel cress collard greens tomato tigernut salad chickweed yarrow
                                water spinach catsear earthnut pea cabbage dulse potato. Onion courgette bitterleaf
                                rutabaga tomatillo tigernut groundnut courgette water spinach tomato. Celery ricebean
                                cabbage salsify caulie watercress cress collard greens potato chard gourd pea sprouts
                                cucumber dulse gram. Leek summer purslane tatsoi catsear celtuce broccoli rabe onion
                                zucchini.

                                <h2>Use of Services and Account</h2>
                                You represent and warrant that you possess the legal right and ability to enter into
                                this Agreement. You agree not to use the Materials, Content, Services, and your Account
                                for any unlawful or abusive purpose or in any way which interferes with our ability to
                                provide Services to our customers, or which damages our property. Chickpea gourd
                                coriander daikon zucchini lettuce tomatillo sierra leone bologi maize parsnip grape
                                melon kohlrabi welsh onion. Celery wakame corn garlic courgette silver beet cabbage gram
                                amaranth jícama bitterleaf. Ricebean bunya nuts prairie turnip water chestnut artichoke
                                cauliflower watercress gourd cabbage okra broccoli rabe. Burdock leek sorrel radicchio
                                azuki bean collard greens winter purslane broccoli rabe gourd water chestnut pumpkin
                                gumbo. Azuki bean green bean kohlrabi kombu aubergine salsify lotus root turnip lentil
                                radicchio nori eggplant sorrel.

                                <h2>Modification to Service</h2>
                                The Company may change, suspend, or discontinue all or any part of the Service at any
                                time, with or without reason. You acknowledge that the operation of the Service may from
                                time to time encounter technical or other problems and may not necessarily continue
                                uninterrupted or without technical or other errors and The Company shall not be
                                responsible to you or others for any such interruptions, errors or problems or an
                                outright discontinuance of the Service.

                                <h2>Intellectual Property Ownership</h2>
                                All Materials, Services, Accounts, and content, including, but not limited to, policy
                                information, text, software, music, sound, photographs, video, graphics, the arrangement
                                of text and images, commercially produced information, and other material contained on
                                the Site or through the Services (“Content”), are provided by The Company unless
                                indicated otherwise. Welsh onion tigernut broccoli asparagus brussels sprout jícama
                                eggplant earthnut pea cress chickpea gourd zucchini. Radicchio lentil cucumber groundnut
                                endive kohlrabi winter purslane. Seakale plantain quandong celtuce shallot fennel
                                seakale epazote groundnut dandelion.

                                <h2>About These Terms</h2>
                                <p>These Terms and Conditions are just a sample and are not legally binding. Real Terms
                                    of Services do not (usually) contain vegetables...</p>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col d-flex justify-content-end">
                                <button class="btn btn-primary" type="submit">Save</button>
                                {{!-- <a href="/" class="btn btn-warning">Cancel</a> --}}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    function display() {
        var status = document.getElementById("demo").style.display;
        if (status == 'block') {
            document.getElementById("demo").style.display = 'none';
        } else {
            document.getElementById("demo").style.display = 'block';
        }

    }
</script>

</html>