<!DOCTYPE html>
<html lang="en">

{{> head}}

<body class="sb-nav-fixed">
    {{> studentHeader}}
    <div class="modal-dialog modal-lg" role="document" style="margin-top: 5%; margin-left: 20%">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Create a contribution</h2>
            </div>
            <div class="modal-body">
                <div class="py-1">
                    <form class="form" method="POST" action="/student/doAddIdea">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <input type="hidden" name="idEvent" value="{{idEvent}}">
                                    <label>Idea Name</label>
                                    <input class="form-control" type="text" name="name" placeholder="Idea Name"
                                        required />
                                </div>
                            </div>
                        </div>
                        {{!-- <div class="row">
                            <div class="col">
                                <div class="form-check form-check-inline col-md-5">
                                    <label class="form-check-label" for="inlineCheckbox1">Annonymously</label>
                                    <input class="form-check-input" type="radio" name="annonymously"
                                        id="inlineCheckbox1" value="true"/>
                                </div>
                            </div>
                        </div> --}}
                        <div class="row">
                            <div class="col d-flex justify-content-end">
                                <button class="btn btn-primary" type="submit">Save</button>
                                <a href="/student/viewEventDetail?id={{idEvent}}" class="btn btn-warning">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>